<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eau Claire's Salon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="navbar">
      <nav>
        <img src="~/img/logo.png" alt="Salon logo" class="logo">
        <ul>
          <li><a href="/stylists">STYLISTS</a></li>
          <li><a href="/clients">CLIENTS</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">CLICK HERE</a></li>
        </ul>
      </nav>
    </div>
    <div class="jumbotron">
      <h1>Welcome to Eau Claire's Salon!</h1>
    </div>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>