@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist

<h1>Add a stylist</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  
  @Html.LabelFor(model => model.SpiceLevel) 
  <select id="SpiceLevel" name="SpiceLevel">
    <option value="1">No spice</option>
    <option value="2">A little hot</option>
    <option value="3">getting hotter</option>
    <option value="4">Very hot!</option>
    <option value="5">AHHHHHHHHHH!!!</option>
  </select>
  
  @Html.LabelFor(model => model.Continent) 
  <select id="Continent" name="Continent">
    <option>Europe</option>
    <option>Asia</option>
    <option>North American</option>
    <option>South American</option>
    <option>Africa</option>
    <option>Oceania</option>
    <option>Antartica</option>
  </select>
  
  <input type="submit" value="Add new stylist" />
}