@{
  Layout = "_Layout";
}
<h5>Welcome to the most exclusive hair salon in Portland</h5>
<p>estabrished in the year 2000, Eau Claire's salon has helped the some of Portland's most influentional, such as: Eddy the Bear, Beatrice the Beauty, & the Goddess herself, Bimini Houdini.</p>
<img class="gallery" src="~/img/.jpeg" alt="image of a hair salon">
<img class="gallery" src="~/img/.jpeg" alt="image of a hair salon">
<p>@Html.ActionLink("See all Clients", "Index", "Stylists")</p>
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>