@{
  Layout = "_Layout";
}
<h4>Welcome to the most exclusive hair salon in Portland</h4>
<p>estabrished in the year 2000, Eau Claire's salon has helped the some of Portland's most influentional, such as: Eddy the Bear, Beatrice the Beauty, & the Goddess herself, Bimini Houdini. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, fugiat?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, atque tempore, numquam modi iure, debitis expedita corporis molestias et cum sequi? Consectetur corporis illo aut excepturi commodi tempora non dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, officia.</p>
<div class="home-img">
  <img class="gallery" src="~/img/glasssalon.png" alt="image of a hair salon">
  <img class="gallery" src="~/img/longsalon.jpeg" alt="image of a hair salon">
</div>
