@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h2>Clients</h2>

<div class="margin">
  @if (@Model.Count == 0)
  {
    <h3>No clients have been added yet!</h3>
    <h5>Make sure you add a stylist before adding clients.</h5>
  } 

  @foreach (Client client in Model)
  {
    <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) | @client.Stylist.Name</li>
  }
</div>

<p class="anchors">@Html.ActionLink("Add new client", "Create")</p>